<form method="post" action="{{ path('app_stock_delete', {'id': stock.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet objet ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stock.id) }}">
    <button class="w-full bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Supprimer</button>
</form>



 
