{% extends 'base.html.twig' %}

{% block title %}Edit Stock{% endblock %}

{% block body %}

{% include "components/sidebar.html.twig" %}
 
    <div class="p-4 sm:ml-64">
        <div class="mb-4 rounded bg-gray-50 dark:bg-gray-800">
            {{ include('stock/_form.html.twig', {'button_label': 'Update'}) }}
          </div>
    {{ include('stock/_delete_form.html.twig') }}
  </div>
  
  

    
{% endblock %}
