{% extends 'base.html.twig' %}

{% block title %}New Stock{% endblock %}

{% block body %}
  
{% include "components/sidebar.html.twig" %}
 
<div class="p-4 sm:ml-64">
      <div class="mb-4 rounded bg-gray-50 dark:bg-gray-800">
        {{ include('stock/_form.html.twig') }}
      </div>
  
</div>

    

   
{% endblock %}
